@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-brand-light font-sans antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-wide uppercase;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .glass-effect {
    @apply bg-brand-darker/70 backdrop-blur-md border-b border-brand-gray/30;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F5B400;
}
